body {
    margin: 0;
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #0C3E2E;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-bottom: 150px;
}

.header__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.header-top {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    margin: 0;
    display: flex;
    gap: 0 30px;
    
}

.menu__link {
    font-size: 16px;
    text-transform: uppercase;
}

.phone {
    color: #BB8A52;
}

.header-content__inner {
    display: flex;
    justify-content: space-between;
    gap: 0 22px;
    align-items: center;
}

.header__title {
    max-width: 428px;
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0 80px;
}

.header-content__text {
    max-width: 510px;
}

.header-content__text span{
    color: #CC2E2E;
}

.header-content__btn {
    display: inline-block;
    background-color: #FFBA00;
    font-size: 20px;
    padding: 20px 38.5px;
    margin-top: 50px;
}

.header__text {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 25px 0;
}

.about {
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    gap: 22px;
    align-items: center;
}

.about__text {
    max-width: 500px;
    margin-bottom: 30px;
}

.about__text span{
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.about__inner-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}

.about__inner-list {
    display: flex;
    gap: 0 30px;
    text-align: center;
    color: #BB8A52;
}

.about__inner-list dt {
    margin-bottom: 5px;
    font-size: 48px;
    font-weight: 600;
   
}

.about__inner-list dd {
    margin: 0;
}

.why {
    margin-bottom: 150px;
}

.why__text {
    max-width: 583px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.why__inner {
    display: flex;
    gap: 22px;
    align-items: center;
}

.why__list-text {
    max-width: 583px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 55px;
}